{% extends "general/layout.html" %}

{% block head_title %}Bienvenidos a nuestro InstaConquer{% endblock%}

{% block page_content%}
<div class="container">
    <h1 align="center">Homepage</h1>
    <p>Bienvenidos a nuestro InstaConquer, la mejor plataforma para compartir tus fotos y videos favoritos de Instagram.</p>
    <section>
        <h2>Últimas publicaciones</h2>
        <div class="row">
        {% for post in last_posts %}
            <div class="col-12 col-sm-6 col-md-4">
                {% include '_includes/posts/_post.html' %}
            </div>           
        {% endfor %}
    </div>
    </section>
   
</div>

{% endblock %}
